/* rem and em do NOT depend on html font-size in media queres! Instead, 1rem = 1em = 16px (EM for media quaries) */

/***************************************/
/* 1900px */
/**************************************/
@media (max-width: 118.75em) {
  .primary-heading {
    font-size: 6.5rem;
    font-weight: 700;
  }

  .description-heading {
    font-size: 6.5rem;
    font-weight: 700;
  }

  .tertiary-heading {
    font-size: 6rem;
  }
}

/***************************************/
/* 1800px */
/**************************************/

@media (max-width: 112.5em) {
  .phone {
    margin-left: 24rem;
  }

  .bigTriangle {
    margin: 1.5rem 45rem 0 5rem;
  }

  .description-text-box {
    gap: 4rem;
  }

  .description-heading {
    font-size: 6rem;
    font-weight: 700;
  }

  .description-text {
    font-size: 2rem;
    font-weight: 500;
  }
}

/***************************************/
/* 1720px */
/**************************************/

@media (max-width: 107.5em) {
  .primary-heading {
    font-size: 6rem;
  }

  .description-heading {
    font-size: 5.5rem;
  }

  .tertiary-heading {
    font-size: 5.6rem;
  }
}

/***************************************/
/* 1700px */
/**************************************/

@media (max-width: 106.25em) {
  .description-heading {
    margin-top: 10rem;
  }

  .questions {
    gap: 2rem;
  }

  .smartphone-4 {
    width: 80rem;
    height: 50rem;
    margin: 20rem 8rem 20rem 8rem;
  }

  .rectangle {
    width: 8rem;
    height: 6rem;
    margin-left: 70rem;
    margin-top: -11rem;
  }
}

/***************************************/
/* 1640px */
/**************************************/

@media (max-width: 102.5em) {
  .primary-heading {
    font-size: 5rem;
  }

  .bigTriangle {
    margin: 1rem 40rem 0 1rem;
  }

  .phone {
    margin-left: 20rem;
  }

  .description-text-box {
    margin-top: 8rem;
  }

  .services-description-first {
    font-size: 2.2rem;
    margin-left: 20rem;
  }

  .services-description-second {
    font-size: 2.2rem;
    margin-left: 10rem;
  }

  .smartphone-4 {
    width: 72rem;
    height: 44rem;
    margin: 15rem 5rem 15rem 5rem;
  }

  .tertiary-heading {
    font-size: 5.2rem;
  }

  .support-top {
    grid-template-columns: 2fr 1fr;
  }
}

/***************************************/
/* 1560px */
/**************************************/

@media (max-width: 97.5em) {
  .logo {
    margin-left: 6rem;
  }

  .nav-btn {
    padding: 0.8rem 1rem;
  }

  .bigTriangle {
    margin: 1rem 35rem 0 1rem;
  }

  .phone {
    margin-left: 18rem;
  }

  .tertiary-heading {
    font-size: 5.2rem;
  }

  .smartphone-3 {
    width: 36rem;
    height: 76.5rem;
    margin-top: 2rem;
    margin-right: -7rem;
  }

  .smartphone-4 {
    margin: 12rem 3rem 12rem 3rem;
  }

  .description-text-box {
    margin-top: 10rem;
  }

  .benefits {
    margin-top: 7rem;
  }

  .questions-heading {
    font-size: 6rem;
    margin-top: 2rem;
  }

  .questions {
    font-size: 2rem;
    gap: 1.8rem;
  }

  .content {
    font-size: 1.8rem;
  }
}

/***************************************/
/* 1460px */
/**************************************/
@media (max-width: 91.25em) {
  .logo {
    margin-left: 4rem;
  }

  .nav-btn {
    padding: 0.6rem 0.6rem;
  }

  .nav-cta {
    font-size: 1.6rem;
    margin-left: 3rem;
  }

  .bigTriangle {
    margin: 1rem 27.5rem 0 1rem;
  }

  .phone {
    margin-left: 15rem;
  }

  .secondary-heading {
    font-size: 6rem;
    font-weight: 700;
  }

  .figure-top {
    margin-bottom: 5rem;
  }

  .top-bluredFigure {
    width: 11.2rem;
    height: 28rem;
  }

  .figure-bottom {
    position: relative;
    bottom: -2.2rem;
    left: 40rem;
  }

  .bottom-bluredFigure {
    width: 36.8rem;
    height: 16rem;
    position: absolute;
    top: -3rem;
  }

  .bluredCross {
    width: 37.6rem;
  }
}

/***************************************/
/* 1400px */
/**************************************/

@media (max-width: 87.5em) {
  .logo {
    margin-left: 2rem;
  }

  .main-nav-list {
    gap: 5.5rem;
  }

  .hero-description {
    font-size: 2.2rem;
  }

  .phone {
    margin-left: 10rem;
  }

  .services-description-first {
    font-size: 2.2rem;
    margin-left: 15rem;
  }

  .services-description-second {
    font-size: 2.2rem;
    margin-left: 5rem;
  }

  .support-heading {
    margin-bottom: 15rem;
  }

  .support-text {
    font-size: 2.2rem;
  }

  .description-heading {
    font-size: 5rem;
    margin-top: 2rem;
  }

  .description-text-box {
    margin: 7rem;
  }

  .description-text {
    font-size: 1.8rem;
    font-weight: 500;
  }

  .que-btn {
    line-height: 2.4rem;
    font-size: 2rem;
    max-height: 11rem;
    padding: 0.4rem;
    width: 100%;
  }
}

/***************************************/
/* BELOW 1344px (Smaller desktops)  */
/**************************************/

@media (max-width: 84em) {
  .main-nav-list {
    gap: 2.5rem;
  }

  .number {
    padding: 4rem 8rem;
  }

  .phone {
    margin-left: 5rem;
  }

  .hero-heading {
    margin-top: 10rem;
  }

  .primary-heading {
    font-size: 4.8rem;
  }

  .secondary-heading {
    font-size: 4.8rem;
  }

  .rectangle {
    margin-left: 60rem;
    margin-top: -21rem;
  }

  .smartphone-2 {
    width: 61.65rem;
    height: 64.6rem;
  }

  .services-line {
    margin-bottom: 5rem;
  }

  .services-description-first {
    margin-left: 5rem;
  }

  .services-description-second {
    margin-left: -1rem;
  }

  .description-text-box {
    margin: 5rem;
  }

  .description-img-box {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .services-bigCross {
    margin-left: 4rem;
  }

  .questions-heading {
    font-size: 5rem;
  }

  .questions {
    margin: 2rem 5rem 0 5rem;
  }

  .que-btn {
    line-height: 2.2rem;
    font-size: 1.8rem;
    min-height: 8rem;
    max-height: 11rem;
  }

  .footer {
    padding: 12rem 0 0 4.5rem;
  }

  .footer-number {
    text-align: center;
  }
}

/***************************************/
/* BELOW 1200px (Landscape Tablets)  */
/**************************************/

@media (max-width: 75em) {
  html {
    font-size: 56.25%;
  }

  .hero-text-box {
    margin: 3.5rem 0 0 7.5rem;
  }

  .blueLine {
    width: 75%;
  }

  .hero {
    gap: 2rem;
  }

  .phone {
    margin-left: 5rem;
  }

  .services-img-box {
    align-items: center;
    margin-bottom: 10rem;
  }

  .rectangle {
    display: none;
  }

  .secondary-heading {
    padding-bottom: 5rem;
  }

  .services-description-first {
    padding-bottom: 5rem;
  }

  .smartphone-2 {
    width: 54.8rem;
    height: 57.6rem;
  }

  .bottom-bluredFigure {
    top: -10rem;
  }

  .support-bottom {
    font-size: 1.8rem;
  }

  .benefits {
    margin-right: 5rem;
    margin-left: 5rem;
    margin-bottom: 8rem;
  }

  .footer-number {
    margin-left: 0.2rem;
  }
}

/***************************************/
/* 1140px   */
/**************************************/

@media (max-width: 71.25em) {
  .container {
    /* width: 106%; */
    min-width: 134rem;
    max-width: 140rem;
  }

  .hero-text-box {
    margin: 2rem 0 0 5.5rem;
  }

  .main-nav-list {
    gap: 5.5rem;
    font-size: 2.2rem;
  }

  .number {
    padding: 4rem 5rem;
    margin-right: 0rem;
  }

  .hero-img-line {
    top: 70rem;
    left: 115rem;
  }

  .description {
    grid-template-columns: 40% 60%;
  }

  .description-text-box {
    margin-left: 5rem;
  }

  .smartphone-3 {
    margin-right: -15rem;
  }

  .support-heading {
    margin-left: 5.5rem;
  }

  .support-bottom {
    font-size: 1.8rem;
  }

  .footer {
    gap: 2rem;
  }
}

/***************************************/
/* 1100px   */
/**************************************/

@media (max-width: 68.75em) {
  .container {
    /* width: 115%; */
    min-width: 139.5rem;
    max-width: 140rem;
  }

  .line {
    margin-top: -5rem;
  }

  .blueLine {
    width: 50%;
  }

  .main-nav-list {
    gap: 4.5rem;
  }

  .nav-btn {
    padding: 0.6rem 1.6rem;
  }

  .number {
    padding: 4rem 3rem;
    margin-right: 0rem;
  }

  .hero-heading {
    margin-top: -5rem;
  }

  .primary-heading {
    font-size: 4.2rem;
  }

  .hero-btn {
    padding: 0.8rem 1rem;
  }

  .smartphone {
    width: 43.2rem;
    height: 61.2rem;
  }

  .hero-img-line {
    top: 60rem;
    left: 121rem;
  }

  .figure-top {
    margin-bottom: 10rem;
  }

  .top-bluredFigure {
    width: 9.8rem;
    height: 24.5rem;
  }

  .bottom-bluredFigure {
    width: 32.2rem;
    height: 14rem;
    top: -6rem;
    right: 70rem;
  }

  .bluredCross {
    width: 32.9rem;
    margin-bottom: 15rem;
  }

  .smartphone-3 {
    margin-right: -25rem;
  }

  .support-right-img {
    margin-bottom: 12rem;
  }

  .content {
    padding: 1.8rem;
  }

  .registration {
    margin-bottom: 0rem;
  }

  .footer-logo {
    margin-left: 5rem;
  }
}

/***************************************/
/* 1060px   */
/**************************************/

@media (max-width: 66.25em) {
  .container {
    /* width: 116%; */
    min-width: 139.5rem;
    max-width: 150rem;
  }

  .smartphone-3 {
    margin-right: -35rem;
  }
}

/***************************************/
/* BELOW 944px (Landscape Tablets)  */
/**************************************/
@media (max-width: 59em) {
  html {
    /* 8px / 16px = 0.5 = 50%  */
    font-size: 50%;
  }

  .container {
    /* width: 155%; */
    min-width: 142.5rem;
    max-width: 150rem;
  }

  .benefits {
    margin-right: 3rem;
    margin-left: 3rem;
    margin-bottom: 8rem;
  }

  .btn-mobile-nav {
    display: block;
  }
}

/***************************************/
/* BELOW 740px (Smaller Tablets) */
/**************************************/

@media (max-width: 44em) {
  .container {
    /* width: 155%; */
    min-width: 142rem;
    max-width: 150rem;
  }
}

/***************************************/
/* BELOW 544px (Phones)  */
/**************************************/
