/* rem and em do NOT depend on html font-size in media queres! Instead, 1rem = 1em = 16px (EM for media quaries) */

/***************************************/
/* 1900px */
/**************************************/
@media (max-width: 118.75em) {
  .primary-heading {
    font-size: 6.5rem;
    font-weight: 700;
  }

  .description-heading {
    font-size: 6.5rem;
    font-weight: 700;
  }

  .tertiary-heading {
    font-size: 6rem;
  }
}

/***************************************/
/* 1800px */
/**************************************/

@media (max-width: 112.5em) {
  .phone {
    margin-left: 24rem;
  }

  .bigTriangle {
    margin: 1.5rem 45rem 0 5rem;
  }

  .description-text-box {
    gap: 4rem;
  }

  .description-heading {
    font-size: 5.2rem;
    font-weight: 700;
  }

  .description-text {
    font-size: 2rem;
    font-weight: 500;
  }
}

/***************************************/
/* 1720px */
/**************************************/

@media (max-width: 107.5em) {
  .primary-heading {
    font-size: 6rem;
  }

  .description-heading {
    font-size: 5.5rem;
  }

  .tertiary-heading {
    font-size: 5.6rem;
  }
}

/***************************************/
/* 1700px */
/**************************************/

@media (max-width: 106.25em) {
  .description-heading {
    margin-top: 10rem;
  }

  .questions {
    gap: 2rem;
  }

  .smartphone-4 {
    width: 80rem;
    height: 50rem;
    margin: 20rem 8rem 20rem 8rem;
  }

  .rectangle {
    width: 8rem;
    height: 6rem;
    margin-left: 70rem;
    margin-top: -11rem;
  }
}

/***************************************/
/* 1640px */
/**************************************/

@media (max-width: 102.5em) {
  .primary-heading {
    font-size: 5rem;
  }

  .bigTriangle {
    margin: 1rem 40rem 0 1rem;
  }

  .phone {
    margin-left: 20rem;
  }

  .description-text-box {
    margin-top: 8rem;
  }

  .services-description-first {
    font-size: 2.2rem;
    margin-left: 20rem;
  }

  .services-description-second {
    font-size: 2.2rem;
    margin-left: 10rem;
  }

  .smartphone-4 {
    width: 72rem;
    height: 44rem;
    margin: 15rem 5rem 15rem 5rem;
  }

  .tertiary-heading {
    font-size: 5.2rem;
  }

  .support-top {
    grid-template-columns: 2fr 1fr;
  }
}

/***************************************/
/* 1560px */
/**************************************/

@media (max-width: 97.5em) {
  .logo {
    margin-left: 6rem;
  }

  .nav-btn {
    padding: 0.8rem 1rem;
  }

  .bigTriangle {
    margin: 1rem 35rem 0 1rem;
  }

  .phone {
    margin-left: 18rem;
  }

  .tertiary-heading {
    font-size: 5.2rem;
  }

  .smartphone-3 {
    width: 36rem;
    height: 76.5rem;
    margin-top: 2rem;
    margin-right: -7rem;
  }

  .smartphone-4 {
    margin: 12rem 3rem 12rem 3rem;
  }

  .description-text-box {
    margin-top: 10rem;
  }

  .benefits {
    margin-top: 7rem;
  }

  .questions-heading {
    font-size: 6rem;
    margin-top: 2rem;
  }

  .questions {
    font-size: 2rem;
    gap: 1.8rem;
  }

  .content {
    font-size: 1.8rem;
  }
}

/***************************************/
/* 1460px */
/**************************************/
@media (max-width: 91.25em) {
  .logo {
    margin-left: 4rem;
  }

  .nav-btn {
    padding: 0.6rem 0.6rem;
  }

  .nav-cta {
    font-size: 1.6rem;
    margin-left: 3rem;
  }

  .bigTriangle {
    margin: 1rem 27.5rem 0 1rem;
  }

  .phone {
    margin-left: 15rem;
  }

  .secondary-heading {
    font-size: 6rem;
    font-weight: 700;
  }

  .figure-top {
    margin-bottom: 5rem;
  }

  .top-bluredFigure {
    width: 11.2rem;
    height: 28rem;
  }

  .figure-bottom {
    position: relative;
    bottom: -2.2rem;
    left: 40rem;
  }

  .bottom-bluredFigure {
    width: 36.8rem;
    height: 16rem;
    position: absolute;
    top: -3rem;
  }

  .bluredCross {
    width: 37.6rem;
  }
}

/***************************************/
/* 1400px */
/**************************************/

@media (max-width: 87.5em) {
  .logo {
    margin-left: 2rem;
  }

  .main-nav-list {
    gap: 5.5rem;
  }

  .hero-description {
    font-size: 2.2rem;
  }

  .phone {
    margin-left: 10rem;
  }

  .services-description-first {
    font-size: 2.2rem;
    margin-left: 15rem;
  }

  .services-description-second {
    font-size: 2.2rem;
    margin-left: 5rem;
  }

  .support-heading {
    margin-bottom: 15rem;
  }

  .support-text {
    font-size: 2.2rem;
  }

  .description-heading {
    font-size: 5rem;
    margin-top: 2rem;
  }

  .description-text-box {
    margin: 7rem;
  }

  .description-text {
    font-size: 1.8rem;
    font-weight: 500;
  }

  .que-btn {
    line-height: 2.4rem;
    font-size: 2rem;
    max-height: 11rem;
    padding: 0.4rem;
    width: 100%;
  }
}

/***************************************/
/* BELOW 1344px (Smaller desktops)  */
/**************************************/

@media (max-width: 84em) {
  .main-nav-list {
    gap: 2.5rem;
  }

  .number {
    padding: 4rem 8rem;
  }

  .phone {
    margin-left: 5rem;
  }

  .hero-heading {
    margin-top: 10rem;
  }

  .primary-heading {
    font-size: 4.8rem;
  }

  .secondary-heading {
    font-size: 4.8rem;
  }

  .rectangle {
    margin-left: 60rem;
    margin-top: -21rem;
  }

  .smartphone-2 {
    width: 61.65rem;
    height: 64.6rem;
  }

  .services-line {
    margin-bottom: 5rem;
  }

  .services-description-first {
    margin-left: 5rem;
  }

  .services-description-second {
    margin-left: -1rem;
  }

  .description-text-box {
    margin: 5rem;
  }

  .description-img-box {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .services-bigCross {
    margin-left: 4rem;
  }

  .questions-heading {
    font-size: 5rem;
  }

  .questions {
    margin: 2rem 5rem 0 5rem;
  }

  .que-btn {
    line-height: 2.2rem;
    font-size: 1.8rem;
    min-height: 8rem;
    max-height: 11rem;
  }

  .footer {
    padding: 12rem 0 0 4.5rem;
  }

  .footer-number {
    text-align: center;
  }
}

/***************************************/
/* BELOW 1200px (Landscape Tablets)  */
/**************************************/

@media (max-width: 75em) {
  html {
    font-size: 56.25%;
  }

  .hero-text-box {
    margin: 3.5rem 0 0 7.5rem;
  }

  .blueLine {
    width: 75%;
  }

  .hero {
    gap: 2rem;
  }

  .phone {
    margin-left: 5rem;
  }

  .services-img-box {
    align-items: center;
    margin-bottom: 10rem;
  }

  .rectangle {
    display: none;
  }

  .secondary-heading {
    padding-bottom: 5rem;
  }

  .services-description-first {
    padding-bottom: 5rem;
  }

  .smartphone-2 {
    width: 54.8rem;
    height: 57.6rem;
  }

  .bottom-bluredFigure {
    top: -10rem;
  }

  .support-bottom {
    font-size: 1.8rem;
  }

  .benefits {
    margin-right: 5rem;
    margin-left: 5rem;
    margin-bottom: 8rem;
  }

  .description-smartphone {
    margin-right: 5rem;
  }

  .rustore {
    width: 4.6rem;
    height: 4.6em;
  }

  .google-store {
    width: 4.8rem;
    height: 4.8rem;
  }

  .footer-number {
    margin-left: 0.2rem;
  }
}

/***************************************/
/* 1140px   */
/**************************************/

@media (max-width: 71.25em) {
  .container {
    /* width: 106%; */
    min-width: 114rem;
    max-width: 140rem;
  }

  .hero-text-box {
    margin: 2rem 0 0 5.5rem;
  }

  .main-nav-list {
    gap: 5.5rem;
    font-size: 2.2rem;
  }

  .number {
    padding: 4rem 5rem;
    margin-right: 0rem;
  }

  .hero-img-line {
    top: 70rem;
    left: 108rem;
  }

  .description {
    grid-template-columns: 40% 60%;
  }

  .description-text-box {
    margin-left: 5rem;
  }

  .smartphone-3 {
    margin-right: -15rem;
  }

  .support-heading {
    margin-left: 5.5rem;
  }

  /* .smartphone-4 {
  } */

  .support-bottom {
    font-size: 1.8rem;
  }

  .description-smartphone {
    margin-right: 7rem;
  }

  .questions {
    margin: 2rem 2rem 0 2rem;
  }

  .call {
    width: 4.4rem;
    margin-right: 1rem;
  }

  .app-store {
    /* width: 4.6rem;
    height: 4.6rem; */
    width: 100%;
  }

  .footer {
    gap: 2rem;
  }
}

/***************************************/
/* 1100px   */
/**************************************/

@media (max-width: 68.75em) {
  .container {
    /* width: 115%; */
    min-width: 110rem;
    max-width: 135rem;
  }

  .line {
    margin-top: -5rem;
  }

  .blueLine {
    width: 50%;
  }

  .main-nav-list {
    gap: 4.5rem;
  }

  .nav-btn {
    padding: 0.6rem 1.6rem;
  }

  .number {
    padding: 4rem 3rem;
    margin-right: 0rem;
  }

  .hero-heading {
    margin-top: -5rem;
  }

  .primary-heading {
    font-size: 4.2rem;
  }

  .hero-btn {
    padding: 0.8rem 1rem;
  }

  .phone {
    margin-left: 5rem;
  }

  .smartphone {
    width: 43.2rem;
    height: 61.2rem;
  }

  .hero-img-line {
    top: 60rem;
    left: 103rem;
  }

  .figure-top {
    margin-bottom: 10rem;
  }

  .top-bluredFigure {
    width: 9.8rem;
    height: 24.5rem;
  }

  .bottom-bluredFigure {
    width: 32.2rem;
    height: 14rem;
    top: -6rem;
    right: 70rem;
  }

  .bluredCross {
    width: 32.9rem;
    margin-bottom: 15rem;
  }

  .smartphone-3 {
    margin-right: -16rem;
  }

  .support-right-img {
    margin-bottom: 12rem;
  }

  .content {
    padding: 1.8rem;
  }

  .registration {
    margin-bottom: 0rem;
  }

  .footer-store-icons {
    margin-left: 2rem;
  }

  .footer-logo {
    margin-left: 5rem;
  }
}

/***************************************/
/* 1060px   */
/**************************************/

@media (max-width: 66.25em) {
  .container {
    /* width: 116%; */
    min-width: 106rem;
    max-width: 140rem;
  }

  .main-nav-list {
    gap: 3rem;
  }

  .number {
    margin-right: 0rem;
  }

  .phone {
    margin-left: -5rem;
  }

  .hero-img-line {
    top: 60rem;
    left: 99rem;
  }

  .description-text-box {
    margin-left: 4rem;
  }

  .description-smartphone {
    margin-right: 2rem;
  }

  .smartphone-4 {
    margin: 0rem 0rem 5rem 0rem;
  }

  .benefits {
    margin-right: 2rem;
    margin-left: 2rem;
    margin-bottom: 9rem;
  }

  .app-store-queries {
    margin-right: 4.5rem;
  }

  .app-store {
    width: 115%;
  }
}
/***************************************/
/* BELOW 944px (Landscape Tablets)  */
/**************************************/
@media (max-width: 59em) {
  html {
    font-size: 50%;
  }

  .container {
    /* width: 155%; */
    min-width: 94.4rem;
    max-width: 120rem;
  }

  .section-hero {
    padding: 5.6rem 0 9.6rem 0;
  }

  .hero-img-line {
    display: none;
  }

  .line {
    display: none;
  }

  .hero-heading {
    margin-left: -1rem;
    text-align: center;
  }

  .primary-heading {
    font-size: 6.2rem;
  }

  .hero-description {
    font-size: 2.4rem;
  }

  .phone {
    margin-left: 10rem;
  }

  .hero-figures {
    margin-left: 5rem;
  }

  .bigTriangle {
    margin: 0 0 0 1rem;
  }

  .smartphone-2 {
    margin-left: 5rem;
  }

  .support-text-box {
    margin-left: 5rem;
  }

  .services-heading {
    margin-right: 5rem;
  }

  .secondary-heading {
    font-size: 6.2rem;
  }

  .services-description-first {
    font-size: 2.4rem;
  }

  .services-description-second {
    font-size: 2.4rem;
  }

  .figure-top {
    margin-left: -4.5rem;
  }

  .support-heading {
    margin-left: 5rem;
    text-align: center;
  }

  .tertiary-heading {
    font-size: 6.2rem;
  }

  .support-text {
    text-align: initial;
    font-size: 2.4rem;
  }

  .bluredCross {
    width: 27.9rem;
    margin-bottom: 31rem;
    height: 39rem;
  }

  .figure-bottom {
    bottom: 4rem;
  }

  .support-bottom {
    margin: 0;
  }

  .benefits {
    margin-right: 3rem;
    margin-left: 3rem;
    margin-bottom: 11rem;
  }

  .description {
    grid-template-columns: 1fr 50%;
  }

  .description-heading {
    font-size: 6.2rem;
    margin-top: 8rem;
  }

  .description-text {
    font-size: 2.2rem;
    font-weight: 400;
  }

  .description-smartphone {
    margin-right: 6rem;
  }

  .smartphone-4 {
    width: 64.8rem;
    height: 39.6rem;
  }

  .store-icons {
    gap: 2rem;
  }

  .rustore {
    margin-right: -1rem;
  }

  .app-store {
    width: 120%;
  }

  /* MOBILE NAVIGATION */

  .link-logo {
    text-align: center;
  }

  .logo {
    height: 8rem;
    margin-left: 5rem;
  }

  .btn-mobile-nav {
    display: block;
    margin-right: 5rem;
  }

  .main-nav {
    background-color: #edeeffdc;
    position: absolute;
    top: 9.6rem;
    left: 0;
    width: 100%;
    height: 50vh;
    z-index: 99;
    transform: translateX(100%);

    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.6s ease-in;

    /* Hidden navigation */
    /* display: none; */

    /* Hide it visually */
    opacity: 0;
    /* Hide it from mouse and keyoards */
    pointer-events: none;
    /* Hide it from screen readers */
    visibility: hidden;
  }

  /* if nav-opne exist */
  .nav-open .main-nav {
    display: flex;
    opacity: 1;
    pointer-events: auto;
    visibility: visible;
    transform: translateX(0);
  }

  .icon-mobile-nav {
    color: #333a9a;
    transform: scale(1.4);
  }

  .nav-open .icon-mobile-nav[name="close-outline"] {
    display: block;
  }

  .nav-open .icon-mobile-nav[name="menu-outline"] {
    display: none;
  }

  .main-nav-list {
    /* display: flex; */
    flex-direction: column;
    gap: 1rem;
    font-size: 3.2rem;
    margin-bottom: 1rem;
  }

  .nav-btn {
    padding: 1rem 1rem;
    min-width: 35rem;
    max-width: 25rem;
    text-align: center;
  }

  .number {
    background-color: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem 1rem;
    margin-right: 14rem;
    clip-path: none;
  }

  .nav-cta {
    background-color: #ffffff;
    color: #2e46cd;
    font-size: 3.2rem;
  }

  .rustore {
    width: 5rem;
    height: 5rem;
  }
}

/***************************************/
/* BELOW 740px (Smaller Tablets) */
/**************************************/

@media (max-width: 46.25em) {
  html {
    font-size: 50%;
  }

  .container {
    min-width: 74rem;
    max-width: 120rem;
  }

  .section-hero {
    padding: 5.6rem 0 9.6rem 0;
  }

  .line {
    display: none;
  }

  .number {
    margin: 0;
  }

  .hero-description {
    font-size: 2.4rem;
    margin-top: 2rem;
  }

  .btn-mobile-queries {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;
  }

  .hero-btn {
    padding: 1rem 1rem;
    text-align: center;
  }

  .btn-blue {
    margin: 0;
    width: 55%;
  }

  .btn-white {
    width: 55%;
  }

  .phone {
    margin-left: -1rem;
  }

  .hero-figures {
    display: block;
  }

  .cross {
    position: absolute;
    top: 14rem;
    left: -4rem;
    width: 3%;
  }

  .triangle {
    position: absolute;
    top: 74rem;
    left: 6rem;
    width: 6%;
  }

  .bigTriangle {
    margin: 0;
    position: absolute;
    top: 12rem;
    right: 4rem;
    width: 10%;
  }

  .services {
    grid-template-columns: 1fr;
  }

  .services-img-box {
    margin: 0;
    /* grid-row: 2 / 0; */
    grid-column: 2 / -1;
  }

  .services-text-box {
    grid-row: 2 / -1;
    grid-column: 2 / -1;
  }

  .figure-services {
    margin: 0;
  }

  .services-smallCross {
    margin: 0;
  }

  .smallCross {
    margin-top: 0;
    position: absolute;
    top: 90rem;
    left: 8rem;
  }

  .smallCircle {
    position: absolute;
    top: 140rem;
    left: 8rem;
  }

  .bigCross {
    position: absolute;
    top: 160rem;
    right: 5rem;
  }

  .whiteCircle {
    position: absolute;
    margin-top: 0;
    top: 110rem;
    right: 10rem;
  }

  .services-line {
    margin: 0;
  }

  .servicesLine {
    position: absolute;
    top: 93rem;
    right: 1rem;
    margin-top: 0;
  }

  .secrvices-flex-queries {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1.5rem;
  }

  .services-heading {
    margin: 5rem 0 0 0;
    text-align: center;
  }

  .services-description {
    width: 60%;
    margin: 0 1rem 0 1rem;
  }

  .smartphone-2 {
    margin: -4rem 0 0 0;
  }

  .support-top {
    max-height: 90rem;
    min-height: 90rem;
    grid-template-columns: 1fr;
    background-image: linear-gradient(
      to right bottom,
      #ffffff,
      #ebeafa,
      #d7d5f5,
      #c0c0f0,
      #a8adeb
    );
  }

  .support-text-box {
    grid-column: 2 / -1;
    grid-row: 2 / -1;
    margin: 0 0 30rem 0;
  }

  .support-img-box {
    grid-column: 2 / -1;
  }

  .support-heading {
    margin: 0;
  }

  .tertiary-heading {
    text-align: center;
    margin: 0 10rem 2rem 10rem;
  }

  .support-text {
    text-align: center;
    margin: 0 15rem 2rem 15rem;
  }

  .figure-support-queries {
    display: none;
  }

  .smartphone-3 {
    margin: 0;
    position: absolute;
    top: 220rem;
    right: 27rem;
  }

  .support-bottom {
    max-height: 90rem;
    min-height: 90rem;
    flex-direction: column;
    justify-content: center;
    gap: 0;
    background-image: linear-gradient(
      to bottom,
      #6379f1,
      #8692f6,
      #a5adf9,
      #c3c7fd,
      #c9ccf0
    );
  }

  .benefits {
    margin: 0 10rem 0 10rem;
    font-size: 2.4rem;
    max-height: 15rem;
    min-height: 20rem;
    min-width: 36rem;
    max-width: 46rem;
    padding: 0;
    border: none;
  }

  .queries-first {
    display: flex;
    align-self: flex-start;
  }
  .queries-second {
    display: flex;
    align-self: flex-end;
  }
  .queries-third {
    display: flex;
    align-self: flex-start;
  }
  .queries-fourth {
    display: flex;
    align-self: flex-end;
  }

  .border-queries-left {
    padding: 3rem 0 0 3rem;
    border-right: none;
    border-bottom: none;
    border-top: solid 2px #ffffff;
    border-left: solid 2px #ffffff;
    border-top-left-radius: 5rem;
    border-top-right-radius: 0;
  }

  .border-queries-right {
    padding: 3rem 3rem 0 0;
    border-left: none;
    border-bottom: none;
    border-top: solid 2px #ffffff;
    border-right: solid 2px #ffffff;
    border-top-right-radius: 5rem;
    border-top-left-radius: 0;
  }

  .section-description {
    margin-top: 60rem;
    height: 100rem;
  }

  .description {
    grid-template-columns: 1fr;
  }

  .description-text-box {
    grid-column: 2 / -1;
    grid-row: 2 / -1;
    text-align: center;
    margin: 3rem;
  }
  .description-img-box {
    grid-column: 2 / -1;
  }

  .smartphone-4 {
    width: 82rem;
    height: 50rem;
    position: relative;
    z-index: 2;
  }

  .section-questions {
    position: relative;
    z-index: 5;
    margin-top: -2rem;
  }

  .question-queries {
    display: flex;
    flex-direction: column;
  }

  .questions-heading {
    font-size: 6.2rem;
    margin: 0;
    padding: 3rem 0 3rem 0;
  }

  .questions {
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(5, auto);
    grid-auto-rows: minmax(0, 1fr);
    margin: 2rem 15rem 0 15rem;
  }

  .moreQuestions {
    padding: 3rem 3rem;
    font-size: 2.2rem;
  }

  .que-btn {
    line-height: 2.2rem;
    font-size: 2.2rem;
    min-height: 8rem;
    max-height: 8rem;
  }

  .content {
    line-height: 2.2rem;
  }

  .que-queries {
    display: none;
  }

  /*  bottom */
  .section-policy {
    position: relative;
    z-index: 4;
  }

  .section-footer {
    position: relative;
    z-index: 5;
  }

  .second-nav-list {
    gap: 1rem;
  }

  .footer {
    grid-template-columns: 1fr 2.5fr;
    grid-template-rows: repeat(6, auto);
    gap: 0;
    margin: 0;
    padding: 0;
  }

  .footer-logo {
    margin: 3rem 0 0 5rem;
    grid-column: 1 / 2;
    grid-row: 1 / span 2;
    justify-self: center;
  }

  .footer-logo-icon {
    width: 15rem;
  }

  .footer-store-icons {
    margin: 3rem 0 0 0;
    grid-column: 2/ 3;
    grid-row: 1 / 2;
    justify-self: center;
  }

  .store-icons {
    padding: 0;
    margin-right: 16rem;
    gap: 2rem;
  }

  .rustore {
    width: 6.2rem;
    height: 6.2rem;
  }

  .app-store-queries {
    margin: 0;
  }

  .google-store {
    width: 6.5rem;
    height: 6.5rem;
  }

  .social-links {
    margin: 0;
    padding: 0;
    grid-column: 2 /3;
    grid-row: 2 / 3;
  }

  .social-icons {
    justify-content: center;
    gap: 0;
    margin-right: 10rem;
    transform: scale(1.2);
  }

  .footer-nav-col-primary {
    font-size: 2.4rem;
    margin: 3rem 0 0 9rem;
  }

  .second-nav-list {
    gap: 2.5rem;
  }

  .footer-nav-col-secondary {
    font-size: 2.4rem;
    margin: 3rem 0 0 14rem;
  }

  .footer-number {
    display: none;
  }

  .footer-number-queries {
    display: block;
  }

  .privacy-queries {
    display: block;
  }

  .privacy {
    display: none;
  }

  /*  */
}

/***************************************/
/* Iphone 14 Pro Max 430px  */
/**************************************/
@media (max-width: 26.875em) {
  .container {
    min-width: 43rem;
    max-width: 80rem;
  }

  .logo {
    height: 7.5rem;
    margin-left: 2.5rem;
  }

  .nav-cta {
    margin: 0;
    font-size: 3rem;
  }

  .btn-mobile-nav {
    margin-right: 2.5rem;
  }

  .hero {
    grid-template-columns: 1fr;
  }

  .hero-text-box {
    grid-column: 2 / -1;
    grid-row: 2 / -1;
    margin: -4rem 1rem 0 0;
  }

  .hero-img-box {
    grid-column: 2 / -1;
    height: 24rem;
  }

  .hero-heading {
    margin: 0 4rem 0 0;
  }

  .hero-description {
    line-height: 1.2;
  }

  .btn-mobile-queries {
    margin: -6rem 0 0 0;
    gap: 1rem;
  }

  .hero-btn {
    padding: 1rem 1rem;
    margin: 1rem -1rem 0 0;
    font-size: 2.8rem;
  }

  .bigTriangle {
    top: 10rem;
    right: 1rem;
    width: 12%;
  }

  .cross {
    display: none;
  }

  .triangle {
    top: 33rem;
    left: 1rem;
    width: 8%;
  }

  .phone {
    text-align: center;
    margin: 1rem 0 0 8rem;
  }

  .smartphone {
    width: 27rem;
    height: 37rem;

    top: -5rem;
    left: 3rem;
  }

  .smallCross {
    top: 92rem;
    left: 3rem;
  }

  /* SERVICES */

  .services {
    height: 93rem;
  }

  .secrvices-flex-queries {
    gap: 1rem;
  }

  .services-heading {
    margin: 4rem 0 0 0;
  }

  .secondary-heading {
    padding: 0;
  }

  .services-description-first {
    font-size: 2.2rem;
    margin: 5rem 0 0 0;
  }

  .services-description-second {
    font-size: 2.2rem;
    margin: 5rem 0 0 0;
  }

  .services-line {
    position: absolute;
  }

  .servicesLine {
    position: inherit;
    top: 42rem;
    left: 32rem;
  }

  .services-line-queries {
    display: block;
    position: absolute;
    transform: rotate(180deg);
  }

  .servicesLine-2 {
    position: inherit;
    top: -27rem;
    right: 5rem;
  }

  .smartphone-2 {
    width: 40rem;
    height: 42rem;
    margin: 0;
  }

  .bigCross {
    top: 175rem;
    right: 5rem;
  }

  .whiteCircle {
    top: 116rem;
    right: 3rem;
  }

  .smallCircle {
    top: 134rem;
    left: 3rem;
  }

  /* SUPPORT */

  .support-text-box {
    margin: 0 0 50rem 0;
  }

  .tertiary-heading {
    margin: 0;

    padding: 2rem;
  }

  .support-text {
    margin: 0 7rem 0 7rem;
  }

  .smartphone-3 {
    top: 225rem;
    right: 17%;
  }

  /* BENEFITS */

  .border-queries-right {
    margin-left: 7.8rem;
  }

  .border-queries-left {
    margin-right: 10rem;
  }

  /* DESCRIPTION */

  .section-description {
    margin: 0;
    padding: 0;
    min-height: 93rem;
    max-height: 100rem;
  }

  .description {
    margin: 60rem 0 0 0;
  }

  .description-text-box {
    margin: -6rem 2rem 0 0;
    padding: 3rem;
    width: 60%;
    gap: 2rem;
  }

  .description-heading {
    margin: 10rem 0 2rem 0;
  }

  .description-text {
    margin: 0;
  }

  .description-img-box {
    margin: 0;
  }

  .description-smartphone {
    position: relative;
    right: 20rem;
  }

  /* QUESTIONS */

  .section-questions {
    margin: 0;
  }

  .questions-heading {
    padding: 2rem 0 2rem 0;
  }

  .questions {
    margin: 1rem 10rem 0 10rem;
  }

  .que-btn {
    min-height: 12rem;
    max-height: 12rem;
  }

  .content {
    /* line-height: 1.8rem; */
    padding: 2rem 1rem 1rem 1rem;
  }

  .moreQuestions-queries {
    margin: 4rem 2rem 0 2rem;
  }

  .moreQuestions {
    font-size: 1.6rem;
  }

  /* FOOTER */

  .footer-logo {
    margin: 0 0 0 5rem;
  }

  .footer-logo-icon {
    width: 10rem;
  }

  .store-icons {
    margin: 0 2rem 0 0;
  }

  .social-icons {
    margin-right: -3rem;
  }

  .footer-nav-col-primary {
    font-size: 1.8rem;
    margin: 2rem 0 0 4rem;
  }

  .footer-nav-col-secondary {
    font-size: 1.8rem;
    margin: 3rem 0 0 7rem;
  }

  .second-nav-list {
    width: 130%;
  }

  .copyright {
    margin-top: 1rem;
    font-size: 1.6rem;
  }
}

/***************************************/
/* Iphone 12 Pro 390px  */
/**************************************/
@media (max-width: 24.375em) {
  .container {
    min-width: 39rem;
    max-width: 70rem;
  }

  .logo {
    height: 7rem;
    margin-left: 2rem;
  }

  .btn-mobile-nav {
    margin-right: 2rem;
  }

  .nav-cta {
    font-size: 2.4rem;
  }

  .primary-heading {
    font-size: 5.8rem;
  }

  .hero-description {
    font-size: 2.2rem;
  }

  .hero-btn {
    padding: 1rem 1rem;
    margin: 1rem -1rem 0 0;
    font-size: 2.2rem;
  }

  .btn-mobile-queries {
    gap: 0.5rem;
  }

  .phone {
    text-align: center;
    margin: 1rem 0 0 5rem;
  }

  .smartphone {
    width: 28rem;
    height: 38rem;
  }

  /* Second */

  .secondary-heading {
    font-size: 5.8rem;
  }

  .smallCross {
    top: 88rem;
    left: 1rem;
  }

  .servicesLine-2 {
    top: -27rem;
    right: 2rem;
  }

  .services-description-second {
    margin: 2rem 0 0 0;
  }

  .servicesLine {
    top: 40rem;
    left: 28rem;
  }

  /* Third */

  .tertiary-heading {
    font-size: 5.8rem;
  }

  .support-text {
    font-size: 2.2rem;
  }

  .smartphone-3 {
    top: 225rem;
    right: 15%;
  }

  /* Fourth */

  .border-queries-right {
    margin-left: 4.8rem;
  }

  .border-queries-left {
    margin-right: 8rem;
  }

  /* Fifth */

  .description-text-box {
    margin: -6rem 2rem 0 0;
    padding: 3rem;
    width: 56%;
    gap: 2rem;
  }

  .description-heading {
    font-size: 5.2rem;
  }

  .description-text {
    font-size: 2rem;
  }

  /* Footer */

  .footer-logo {
    margin: 0;
  }

  .footer-logo-icon {
    width: 8rem;
  }

  .footer-store-icons {
    margin: 5rem 0 0 0;
  }

  .footer-nav-col-primary {
    font-size: 1.6rem;
    margin: -3rem 0 0 3rem;
  }

  .footer-nav-col-secondary {
    font-size: 1.6rem;
    margin: 0rem 0 0 6rem;
  }
}
