.section-questions {
  /* height: 92rem; */
  font-family: "Mulish", sans-serif;
  line-height: 2.5rem;
  background-image: linear-gradient(
    to left bottom,
    #ffffff,
    #ebeafa,
    #d7d5f5,
    #c0c0f0,
    #a8adeb
  );
}

.questions-heading {
  text-align: center;
  font-size: 5rem;
  font-weight: 800;
  color: #3462ec;
  margin: 0rem 0 4rem 0;
  padding-top: 0.5rem;
}

.questions {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(7, auto);
  grid-auto-rows: minmax(0, 1fr);
  justify-content: center;
  gap: 3rem;
  margin: 4rem 4rem 0 4rem;
}

.que-btn {
  font-family: "Mulish", sans-serif;
  font-weight: 400;
  font-size: 2.2rem;
  min-height: 9rem;
  max-height: 9rem;
  padding: 0.4rem;
  width: 100%;
  background-color: #3462ec;
  color: #ffffff;
  cursor: pointer;
  box-shadow: 0 0 0.4rem 0 rgba(0, 0, 0, 0.35);
  border: none;
  border-radius: 2.1rem;
  transition: all 0.2s;
}

.que-btn:hover {
  background-color: #0040ff;
}

.que-btn:focus,
.que-btn:link,
.que-btn:active {
  background-color: #0040ff;
}

.content {
  display: none;
  background-color: #648bff;
  color: #ffffff;
  padding: 2.8rem;
  line-height: 2.5rem;
  margin-top: -1.6rem;
  font-size: 2rem;
  box-shadow: 0 0 0.4rem 0 rgba(0, 0, 0, 0.35);
  border-bottom-left-radius: 2.1rem;
  border-bottom-right-radius: 2.1rem;
  animation: slideDown 0.1s ease;
}

.que-btn:focus + .content {
  display: block;
}

@keyframes slideDown {
  from {
    opacity: 0;
    transform: translateY(-0.1rem);
  }
  to {
    opacity: 0;
    transform: translateY(0);
  }
}
