/***************************************/
/* 1900px */
/**************************************/

@media (max-width: 118.75em) {
}
/***************************************/
/* 1800px */
/**************************************/

@media (max-width: 112.5em) {
}

/***************************************/
/* 1440px */
/**************************************/

@media (max-width: 90em) {
  .questions-heading {
    padding-top: 1.5rem;
  }

  .que-btn {
    font-size: 2rem;
  }
}

/***************************************/
/* 1310px */
/**************************************/

@media (max-width: 81.875em) {
  .que-btn {
    font-size: 1.8rem;
  }

  .content {
    font-size: 1.8rem;
  }
}

/***************************************/
/* 1190px */
/**************************************/

@media (max-width: 74.375em) {
  .que-btn {
    font-size: 1.6rem;
  }

  .content {
    font-size: 1.6rem;
  }

  .questions {
    padding-bottom: 1rem;
  }
}

/***************************************/
/* 944px */
/**************************************/

@media (max-width: 59em) {
  .questions {
    gap: 2rem;
  }

  .que-btn {
    /* min-height: 9rem;
    max-height: 9rem; */
    padding: 0;
  }
}

/***************************************/
/* 900px */
/**************************************/

@media (max-width: 56.25em) {
  .que-btn {
    font-size: 1.4rem;
  }

  .content {
    font-size: 1.4rem;
  }
}

/***************************************/
/* 740px */
/**************************************/

@media (max-width: 46.25em) {
  .questions {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(11, auto);
    grid-auto-rows: minmax(0, 1fr);
    padding-bottom: 1.5rem;
  }

  /* .last-question {
    grid-column: -3 / -1;
    width: 50%;
    margin-left: 16.5rem;
  } */
}

/***************************************/
/* Iphone 14 Pro Max 430px  */
/**************************************/
@media (max-width: 26.875em) {
  .questions-heading {
    font-size: 4rem;
  }

  .questions {
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(21, auto);
    grid-auto-rows: minmax(0, 1fr);
  }

  .content {
    line-height: 2.2rem;
    padding: 2rem;
  }
}
