.section-questions {
  height: 92rem;
  font-family: "Mulish", sans-serif;
  line-height: 2.5rem;
}

.questions-heading {
  text-align: center;
  font-size: 7rem;
  font-weight: 800;
  color: #3462ec;
  margin: 3rem 0 4rem 0;
}

.questions {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(7, auto);
  grid-auto-rows: minmax(0, 1fr);
  justify-content: center;
  gap: 3rem;
  margin: 4rem 4rem 0 4rem;
}

.que-btn {
  font-family: "Mulish", sans-serif;
  font-weight: 400;
  font-size: 2.2rem;
  min-height: 9rem;
  max-height: 9rem;
  padding: 0.4rem;
  width: 100%;
  background-color: #3462ec;
  color: #ffffff;
  cursor: pointer;
  box-shadow: 0px 0rem 0.4rem 0rem rgba(0, 0, 0, 0.35);
  border: none;
  border-radius: 2.1rem;
  transition: all 0.2s;
}

.que-btn:hover {
  background-color: #0040ff;
}

.que-btn:focus,
.que-btn:link,
.que-btn:active {
  background-color: #0040ff;
}

.content {
  display: none;
  background-color: #648bff;
  color: #ffffff;
  padding: 2.8rem;
  line-height: 2.5rem;
  margin-top: -1.6rem;
  font-size: 2rem;
  box-shadow: 0px 0rem 0.4rem 0rem rgba(0, 0, 0, 0.25);
  border-bottom-left-radius: 2.1rem;
  border-bottom-right-radius: 2.1rem;
  animation: slideDown 0.1s ease;
}

.que-btn:focus + .content {
  display: block;
}

@keyframes slideDown {
  from {
    opacity: 0;
    transform: translateY(-0.1rem);
  }
  to {
    opacity: 0;
    transform: translateY(0);
  }
}

.moreQuestions {
  display: inline-block;
  background-color: #3462ec;
  grid-row: 4 / 4;
  grid-column: -3 / -2;
  padding: 2rem 2rem;
  border-radius: 2.1rem;
  text-align: center;
  transition: all 0.5s;
  cursor: pointer;
  color: #fff;
  box-shadow: 0px 0rem 0.4rem 0rem rgba(0, 0, 0, 0.25);
}

.moreQuestions:hover {
  background-color: #0040ff;
  padding: 2.4rem 2.4rem;
  margin: 1rem -2rem 1rem -2rem;
}

.morequestions:link,
.morequestions:active,
.morequestions:focus {
  background-color: #0040ff;
  padding: 2.4rem 2.4rem;
  margin: 1rem -2rem 1rem -2rem;
}
