.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #ffffff;
  box-shadow: 0px 5.33px 4rem 0px rgba(0, 0, 0, 0.25);
  /* height: 6rem;
  gap: 8rem; */
  /* max-width: 100%; */
  position: relative;
  /* margin: 0 auto; */
}

.logo {
  height: 5rem;
  margin-left: 10rem;
}

.main-nav-list {
  list-style: none;
  display: flex;
  align-items: center;
  gap: 4rem;
}

.main-nav-list:link,
.main-nav-list:visited {
  /* display: inline-block; */
  text-decoration: none;
  color: #435cac;
}

.main-nav-link {
  text-decoration: none;
  /* text-align: justify; */
}

.main-nav-link:hover,
.main-nav-link:active {
  color: #435cac;
}

.main-nav-link.nav-cta:link,
.main-nav-link.nav-cta:visited {
  padding: 2.2rem 5rem;
  position: relative;
  /* text-align: end; */
}

/* .main-nav-link.nav-cta:hover,
.main-nav-link.nav-cta:active {
  color: #364abb;
} */

.nav-btn {
  padding: 0.8rem 2rem;
  border: 0.1rem solid #364abb;
  border-radius: 0.76rem;
  color: #435cac;
  display: block;
}

.nav-btn:hover,
.nav-btn:active {
  color: #ffffff;
  background-color: #435cac;
}

.number {
  /* padding: 0 auto; */
  display: inline-block;
}

.nav-cta {
  color: #ffffff;
  background-color: #2e46cd;
  clip-path: polygon(20% 0, 100% 0, 100% 100%, 0 100%);
  text-decoration: underline;
  display: inline-block;
  font-size: 1.2rem;
}

.nav-cta:hover,
.nav-cta:active {
  color: #553030;
  background-color: #2e46cd;
}

/* HERO SECTION */

.section-hero {
  background-color: #edeeff;
  padding: 4.8rem 0 9.6rem 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.mainpage-title {
  text-align: center;
}
