.header {
  display: flex;
  height: 9.6rem;
  justify-content: space-between;
  align-items: center;
  background-color: #ffffff;
  box-shadow: 0px 0.5rem 4rem 0px rgba(0, 0, 0, 0.25);
  position: relative;
}

.logo {
  height: 5rem;
  margin-left: 10rem;
}

.main-nav-list {
  list-style: none;
  display: flex;
  align-items: center;
  gap: 6.5rem;
  font-size: 2.4rem;
}

.main-nav-list:link,
.main-nav-list:visited {
  text-decoration: none;
  color: #435cac;
}

.main-nav-link {
  text-decoration: none;
}

.main-nav-link:hover,
.main-nav-link:active {
  color: #435cac;
}

.main-nav-link.nav-cta:link,
.main-nav-link.nav-cta:visited {
  padding: 2.2rem 5rem;
}

.nav-btn {
  padding: 0.8rem 2rem;
  border: 0.15rem solid #364abb;
  border-radius: 0.76rem;
  color: #435cac;
  display: block;
  box-shadow: 0px 0rem 0.4rem 0rem rgba(0, 0, 0, 0.25);
  transition: all 0.5s;
}

.nav-btn:hover,
.nav-btn:active {
  color: #ffffff;
  background-color: #435cac;
}

.number {
  padding: 4rem 10rem;
  background-color: #2e46cd;
  clip-path: polygon(25% 0, 100% 0, 100% 100%, 0 100%);
}

.nav-cta {
  text-decoration: underline;
  color: #ffffff;
  display: inline-block;
  font-size: 1.6rem;
  margin-left: 4rem;
}

.nav-cta:hover,
.nav-cta:active {
  color: #553030;
  background-color: #2e46cd;
}

/* HERO SECTION */

.section-hero {
  background-color: #edeeff;
  padding: 9.6rem 0 9.6rem 0;
}

.line {
  position: absolute;
}

.hero {
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 4rem;
  align-items: center;
  /* height: 90.4rem; */
}

.blueLine {
  text-align: left;
}

.hero-text-box {
  margin: 3.5rem 0 0 10.5rem;
}

.hero-heading {
  color: #3462ec;
  margin-top: 15rem;
}

.primary-heading {
  font-size: 7.3rem;
  font-weight: 800;
}

.hero-description {
  font-size: 2.5rem;
  line-height: 1.6;
  margin: 5.5rem 0 5.5rem 0;
}

.hero-btn {
  padding: 0.8rem 2rem;
  border-radius: 0.76rem;
  font-weight: 600;
  text-decoration: none;
  font-size: 2.4rem;
}

.btn-blue {
  border: 0.15rem solid #364abb;
  color: #edeeff;
  background-color: #2e46cd;
  margin-right: 3.5rem;
}

.btn-white {
  border: 0.15rem solid #333;
  color: #333;
  padding-left: 6rem;
  padding-right: 6rem;
}

.hero-figures {
  margin-top: 5rem;
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.hero-figures-left {
  display: flex;
  flex-direction: column;
}

.bigTriangle {
  width: 6rem;
  transform: rotate(180deg);
  margin: 1.5rem 50rem 0 5rem;
}

.cross {
  width: 3.3rem;
  padding-bottom: 3.3rem;
  margin-left: 8rem;
}

.triangle {
  width: 3.3rem;
}

.phone {
  margin-left: 32rem;
  margin-bottom: 10rem;
}

.smartphone {
  width: 48rem;
  height: 68rem;
}

.hero-img-line {
  margin-bottom: 10rem;
  z-index: 10;
  position: absolute;
  top: 70rem;
  /* left: 195rem; */
  left: 173rem;
}

/* SERVICES SECTION */

.section-services {
  height: 97rem;
  background: #6379f1;
}

.services {
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-content: center;
  align-items: center;
}

.services-img-box {
  display: flex;
  flex-direction: column;
}

.services-text-box {
  display: flex;
  flex-direction: column;
}

.rectangle {
  width: 10.5rem;
  height: 7.7rem;
  margin-left: 70rem;
  margin-top: -11rem;
  /* position: absolute;
  left: 55rem;
  top: 97rem; */
}

.smartphone-2 {
  /* from figma : 685px * 720px */
  width: 68.5rem;
  height: 72rem;
  /* width: 54.8rem;
  height: 57.6rem; */
}

.services-smallCross {
  margin-left: 18rem;
  margin-bottom: 10rem;
  text-align: center;
}

.smallCross {
  width: 3rem;
  height: 3rem;
  margin-top: 5rem;
}

.services-line {
  text-align: right;
}

.services-heading {
  color: #ffffff;
  text-align: right;
  margin-right: 10rem;
}

.secondary-heading {
  font-size: 7.3rem;
  font-weight: 800;
  padding-bottom: 10rem;
}

.services-description-first {
  font-size: 2.5rem;
  font-weight: 500;
  padding-bottom: 7rem;
  margin-left: 30rem;
}

.services-description-second {
  font-size: 2.5rem;
  font-weight: 500;
  padding-bottom: 6rem;
  margin-left: 20rem;
}

.services-yellowCircle {
  text-align: end;
  margin-right: 17rem;
}

.services-bigCross {
  text-align: left;
  margin-left: 22rem;
}

.bigCross {
  width: 6.5rem;
  height: 6.5rem;
}

.services-whiteCircle {
  text-align: right;
  margin-top: 3rem;
  margin-bottom: 10rem;
  margin-right: 10rem;
}

.whiteCircle {
  width: 6rem;
  height: 6rem;
}

/* SUPPORT SECTION */

.section-support {
  height: 116rem;
  display: flex;
  flex-direction: column;
}

.support-top {
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-content: center;
  align-items: center;
  /* height: 97rem; */
  background-image: linear-gradient(
    to bottom,
    #ffffff,
    #f8f7ff,
    #f1f0ff,
    #e9e9ff,
    #e0e2ff
  );
}

.support-text-box {
  display: flex;
  flex-direction: column;
}

.figure-top {
  margin-bottom: 6rem;
}

.top-bluredFigure {
  width: 14rem;
  height: 35rem;
}

.support-heading {
  margin-left: 10.5rem;
}

.tertiary-heading {
  color: #021f78;
  font-weight: 700;
  font-size: 6.4rem;
  margin-bottom: 6.5rem;
}

.support-text {
  color: #3551a4;
  font-weight: 500;
  font-size: 2.5rem;
  margin-right: 15rem;
}

.figure-bottom {
  /* margin-top: 5rem; */
  /* position: absolute; */
  /* top: 259.8rem; */
  position: relative;
  bottom: -2.2rem;
  left: 40rem;
}

.bottom-bluredFigure {
  width: 46rem;
  height: 20rem;
}

.support-img-box {
  display: flex;
  flex-direction: column;
}

.support-right-img {
  text-align: right;
  margin-bottom: 22rem;
}

.bluredCross {
  width: 47rem;
  height: 60rem;
}

.smartphone-3 {
  width: 40rem;
  height: 85rem;
  position: absolute;
  top: 200rem;
  right: 20rem;
}

.support-bottom {
  display: flex;
  justify-content: space-evenly;
  /* align-items: center; */
  font-size: 2rem;
  color: #ffffff;
  background-color: #6379f1;
  height: 34rem;
  z-index: 10;
}

.benefits {
  /* margin-left: 10rem;
  margin-right: 14rem; */
  margin-top: 10rem;
  margin-bottom: 8.5rem;
  max-width: 28.5rem;
  padding-top: 6rem;
  padding-right: 3.5rem;
  border-top: solid 1px #ffffff;
  border-right: solid 1px #ffffff;
  border-top-right-radius: 2rem;
}

/* DESCRIPTION SECTION */

.section-description {
  /* background-image: url(images/background.png);
  background-size: cover; */
  background-image: url(/background.png);
  background-size: cover;
  height: 98rem;
}

.description {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.description-text-box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 7rem;
  margin-left: 10.5rem;
  margin-right: 12rem;
  color: #ffffff;
  line-height: 4rem;
}

.description-heading {
  font-size: 7.3rem;
  font-weight: 800;
  margin-top: 10rem;
}

.description-text {
  font-size: 2.3rem;
  font-weight: 500;
}

.description-img-box {
  text-align: center;
}

.smartphone-4 {
  width: 85.5rem;
  height: 54rem;
  margin: 21.5rem 10rem 21.5rem 10rem;
}

/* QUESTIONS SECTION */

.section-questions {
  height: 96rem;
}

.questions-heading {
  text-align: center;
  font-size: 7.3rem;
  font-weight: 800;
  color: #3462ec;
  margin-top: 7rem;
}

/* .questions {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  justify-content: center;
  align-items: center;
  gap: 5rem;
  margin: 10rem 5rem 0 5rem;
  font-size: 2.2rem;
}

.question {
  display: flex;
  align-items: center;
  justify-content: center;
  line-height: 2.5rem;
}

.que-btn {
  max-height: 12rem;
  min-height: 12rem;
  padding: 3rem 1.6rem;
  border: 0.15rem solid #3462ec;
  border-radius: 2.1rem;
  background-color: #3462ec;
  color: #ffffff;
  box-shadow: 0px 0rem 0.4rem 0rem rgba(0, 0, 0, 0.25);
  cursor: pointer;
  transition: all 0.5s;
}

.que-btn:hover,
.que-btn:active {
  background-color: #0040ff;
}

.que-btn:link,
.que-btn:visited {
  background-color: #0040ff;
}


.drop {
  position: relative;
  display: block;
}

.dropdown-content {
  display: none;
  position: relative;
  min-height: 12rem;
  padding: 3rem 1.6rem;
  border: 0.15rem solid #3462ec;
  border-radius: 2.1rem;
  background-color: #3462ec;
  color: #ffffff;
  box-shadow: 0px 0rem 0.4rem 0rem rgba(0, 0, 0, 0.25);
  z-index: 1;
}

.show {
  display: block;
  position: absolute;
}


.moreQuestions {
  display: inline-block;
  text-decoration: underline;
  grid-column: -3 / -2;
  color: #3462ec;
  grid-row: 3 / 4;
  text-align: center;
  transition: all 0.3s;
}

.moreQuestions:hover {
  background-color: #3462ec;
  color: #ffffff;
  text-decoration: none;
  padding: 1.2rem 2rem;
  margin: 1rem 2rem;
  box-shadow: 0px 0rem 0.4rem 0rem rgba(0, 0, 0, 0.25);
  border-radius: 1.2rem;
}

.moreQuestions:link,
.moreQuestions:visited {
  background-color: #3462ec;
  color: #ffffff;
  text-decoration: none;
  padding: 1.2rem 2rem;
  margin: 2rem 2em;
  box-shadow: 0px 0rem 0.4rem 0rem rgba(0, 0, 0, 0.25);
  border-radius: 1.2rem;
} */

.questions {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, auto);
  grid-auto-rows: minmax(0, 1fr);
  justify-content: center;
  gap: 5rem;
  margin: 10rem 5rem 0 5rem;
  font-size: 2.2rem;
}

.que-btn {
  font-family: "Mulish", sans-serif;
  line-height: 2.5rem;
  font-weight: 400;
  font-size: 2rem;
  min-height: 8rem;
  background-color: #3462ec;
  color: #ffffff;
  padding: 16px;
  font-size: 16px;
  border: none;
  cursor: pointer;
  width: 100%;
  text-align: center;
  border-radius: 2.1rem;
}

.content {
  background-color: #648bff;
  color: #ffffff;
  padding: 2.8rem;
  margin-top: -1.6rem;
  border-bottom: 1px solid #648bff;
  border-left: 1px solid #648bff;
  border-right: 1px solid #648bff;
  border-bottom-left-radius: 2.1rem;
  border-bottom-right-radius: 2.1rem;
  display: none;
  animation: slideDown 0.2s ease-out;
}

.que-btn:focus + .content {
  display: block;
}

@keyframes slideDown {
  from {
    opacity: 0;
    transform: translateY(-0.1rem);
  }
  to {
    opacity: 0;
    transform: translateY(0);
  }
}

/* MAKING A POLICY */

.section-policy {
  background-color: #e0e2ff;
  height: 75rem;
}

/* FOOTER SECTION */

.section-footer {
  height: 44rem;
  background-color: #141e55;
}

.footer {
  display: grid;
  grid-template-columns: 1fr 2fr 2fr 2fr 1fr;
}

.rustore {
  width: 4rem;
  height: 4rem;
}

/* .call-background {
  width: 4.8rem;
  height: 4.8rem;
} */
