.header {
  display: flex;
  height: 9.6rem;
  justify-content: space-between;
  align-items: center;
  background-color: #ffffff;
  box-shadow: 0px 0.5rem 4rem 0px rgba(0, 0, 0, 0.25);
  position: relative;
}

.logo {
  height: 5rem;
  margin-left: 10rem;
}

.main-nav-list {
  list-style: none;
  display: flex;
  align-items: center;
  gap: 6.5rem;
  font-size: 2.4rem;
}

.main-nav-list:link,
.main-nav-list:visited {
  text-decoration: none;
  color: #435cac;
}

.main-nav-link {
  text-decoration: none;
}

.main-nav-link:hover,
.main-nav-link:active {
  color: #435cac;
}

.main-nav-link.nav-cta:link,
.main-nav-link.nav-cta:visited {
  padding: 2.2rem 5rem;
}

.nav-btn {
  padding: 0.8rem 2rem;
  border: 0.15rem solid #364abb;
  border-radius: 0.76rem;
  color: #435cac;
  display: block;
  box-shadow: 0px 0rem 0.4rem 0rem rgba(0, 0, 0, 0.25);
}

.nav-btn:hover,
.nav-btn:active {
  color: #ffffff;
  background-color: #435cac;
}

.number {
  padding: 4rem 10rem;
  background-color: #2e46cd;
  clip-path: polygon(25% 0, 100% 0, 100% 100%, 0 100%);
}

.nav-cta {
  text-decoration: underline;
  color: #ffffff;
  display: inline-block;
  font-size: 1.6rem;
  margin-left: 4rem;
}

.nav-cta:hover,
.nav-cta:active {
  color: #553030;
  background-color: #2e46cd;
}

/* HERO SECTION */

.section-hero {
  background-color: #edeeff;
  padding: 9.6rem 0 9.6rem 0;
}

.line {
  position: absolute;
}

.hero {
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 4rem;
  align-items: center;
  /* height: 90.4rem; */
}

.blueLine {
  text-align: left;
}

.hero-text-box {
  margin: 3.5rem 0 0 10.5rem;
}

.hero-heading {
  color: #3462ec;
  margin-top: 15rem;
}

.primary-heading {
  font-size: 7.3rem;
  font-weight: 800;
}

.hero-description {
  font-size: 2.5rem;
  line-height: 1.6;
  margin: 5.5rem 0 5.5rem 0;
}

.hero-btn {
  padding: 0.8rem 2rem;
  border-radius: 0.76rem;
  font-weight: 600;
  text-decoration: none;
  font-size: 2.4rem;
}

.btn-blue {
  border: 0.15rem solid #364abb;
  color: #edeeff;
  background-color: #2e46cd;
  margin-right: 3.5rem;
}

.btn-white {
  border: 0.15rem solid #333;
  color: #333;
  padding-left: 6rem;
  padding-right: 6rem;
}

.hero-figures {
  margin-top: 5rem;
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.hero-figures-left {
  display: flex;
  flex-direction: column;
}

.bigTriangle {
  width: 6rem;
  transform: rotate(180deg);
  margin: 1.5rem 50rem 0 5rem;
}

.cross {
  width: 3.3rem;
  padding-bottom: 3.3rem;
  margin-left: 8rem;
}

.triangle {
  width: 3.3rem;
}

.phone {
  margin-left: 32rem;
  margin-bottom: 10rem;
}

.smartphone {
  width: 48rem;
  height: 68rem;
}

.hero-img-line {
  margin-bottom: 10rem;
  z-index: 10;
  position: absolute;
  top: 70rem;
  /* left: 195rem; */
  left: 173rem;
}

/* SERVICES SECTION */

.section-services {
  height: 97rem;
  background: #6379f1;
}

.services {
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-content: center;
  align-items: center;
}

.services-img-box {
  display: flex;
  flex-direction: column;
}

.services-text-box {
  display: flex;
  flex-direction: column;
}

.rectangle {
  width: 10.5rem;
  height: 7.7rem;
  margin-left: 70rem;
  margin-top: -11rem;
  /* position: absolute;
  left: 55rem;
  top: 97rem; */
}

.smartphone-2 {
  /* from figma : 685px * 720px */
  width: 68.5rem;
  height: 72rem;
  /* width: 54.8rem;
  height: 57.6rem; */
}

.services-smallCross {
  margin-left: 18rem;
  margin-bottom: 10rem;
  text-align: center;
}

.smallCross {
  width: 3rem;
  height: 3rem;
  margin-top: 5rem;
}

.services-line {
  text-align: right;
}

.services-heading {
  color: #ffffff;
  text-align: right;
  margin-right: 10rem;
}

.secondary-heading {
  font-size: 7.3rem;
  font-weight: 800;
  padding-bottom: 10rem;
}

.services-description-first {
  font-size: 2.5rem;
  font-weight: 500;
  padding-bottom: 7rem;
  margin-left: 30rem;
}

.services-description-second {
  font-size: 2.5rem;
  font-weight: 500;
  padding-bottom: 6rem;
  margin-left: 20rem;
}

.services-yellowCircle {
  text-align: end;
  margin-right: 17rem;
}

.services-bigCross {
  text-align: left;
  margin-left: 22rem;
}

.bigCross {
  width: 6.5rem;
  height: 6.5rem;
}

.services-whiteCircle {
  text-align: right;
  margin-top: 3rem;
  margin-bottom: 10rem;
  margin-right: 10rem;
}

.whiteCircle {
  width: 6rem;
  height: 6rem;
}

/* SUPPORT SECTION */

.section-support {
  height: 134rem;
  display: flex;
  flex-direction: column;
}

.support-top {
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-content: center;
  align-items: center;
  background-image: linear-gradient(
    to bottom,
    #ffffff,
    #f8f7ff,
    #f1f0ff,
    #e9e9ff,
    #e0e2ff
  );
}

.support-text-box {
  display: flex;
  flex-direction: column;
}

.figures-top {
}

.top-bluredFigure {
}

.support-img-box {
  display: flex;
  flex-direction: column;
}

.support-bottom {
  display: flex;
  background-color: #6379f1;
  /* height: 37.5rem; */
}
